body {
    background-color: #fff;
    font-size: 16px;
    color: #999999;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    font-family: $common-font;
    font-weight: 300;
    width: 100%;
}
.container {
    width: 62.5%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0 80px 0;
}
.grid {
    display: grid;
}
.svg-icon-blue {
    width: 30px;
    height: 30px;
    fill: #95e1d3;
    display: inline-block;
}
.svg-icon-white {
    width: 30px;
    height: 30px;
    fill: #ffffff;
    display: inline-block;
}
.svg-icon-grey {
    width: 22px;
    height: 12px;
    fill: #cccccc;
    display: inline-block;
}
.svg-icon-red {
    height: 30px;
    width: 30px;
    fill: $icon-color;
    display: inline-block;
    margin-top: 12.5px;
    transition: fill 1s ease;
}
.section-title {
    font-family: $special-font;
    font-size: 24px;
    text-align: center;
    color: #000;
}
.section-subtitle {
    font-family: $theme-font;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    color: #000;
    text-align: center;
    @extend %redline;
}
.section__paragraph {
    text-align: center;
    line-height: 24px;
    width: 80%; //950px(paragraph) / 1200px(block about);
    margin: 0 auto;
    margin-bottom: 80px;
}
.left {
    float: left;
}
.circle_img {
    border-radius: $img-radius;
}
.gradient {
    height: 100%;
    width: 100%;
    background: $gradient;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

    &:hover {
        opacity: 1;
    }
}
a {
    cursor: pointer;
}
.light {
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255, 0.85);
}
.italic {
    font-style: italic;
}
