// Variables
$special-color: #95e1d3;
$gradient: linear-gradient(to bottom, #f38181, #fce38a);
$common-text-color: #fff;
$mouse-on-text-color: #fce38a;
$black-text-color: #333;
$icon-background: #fce38a;
$icon-color: #f38181;