// Variables
$special-color: #95e1d3;
$gradient: linear-gradient(to bottom, rgba(252,227,138,0.8) 0%,rgba(243,129,129,0.8) 100%);
$common-text-color: #fff;
$mouse-on-text-color: #fce38a;
$black-text-color: #333;
$icon-background: #fce38a;
$icon-color: #f38181;
$special-font: 'Kaushan Script', cursive;
$theme-font: Montserrat, sans-serif;
$common-font: Roboto, sans-serif;

// Placeholders

%redline {
    &::after {
        content: '';
        display: block;
        width: 60px;
        border-bottom: $icon-color solid 3px;
        margin: 35px auto;
    }
}