// Base import

@import "normalize";

// Arguments and fonts

@import "fonts";
@import "variables";
@import "mixins";
@import "sprite";

// Styles import

@import "layout/header";
@import "layout/about";
@import "layout/facts";
@import "layout/instruments";
@import "layout/feature";
@import "layout/job";
@import "layout/quote";
@import "layout/team";
@import "layout/logos";
@import "layout/work";
@import "layout/testimonial";
@import "layout/response";
@import "layout/blog";
@import "layout/map";
@import "layout/footer";

// Main styles
body {
    background-color: #fff;
    font-size: 16px;
    color: #999999;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    font-family: 'robotoregular';
    font-weight: 300;
    width: 100%;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.grid {
    display: grid;
}