// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) { 
    // header //

    .header {
        .slider {        
            &__number {
            display: block;
            text-align: center;
            }

            &__item {
                text-align: center;
            }
        }

        .content__item {
            height: 550px;
        }
    }

    // about //

    .about {
        .items__item {
            width: 90%;
            margin-right: 7px;
        }
    }

    // team //

    .team {
        .gradient--row {
            justify-content: center;
            flex-direction: column;
        }

        .captions__inblock {
            bottom: 0;
        }
    }
    
    // footer //

    .footer {
        &_sub {
            width: 100%;
            &_btn {
                padding: 16px 15px;
            }
        }
        &_social {
            &_link {
                padding-right: 5px;
            }
        }
    }

    // feature //

    .feature {
        &__iphone {
            left: 53%;
        }
    }
}
     
