// Medium devices (tablets, 768px and up)
@media (max-width: 768px) { 
    // instruments //

    .instruments_wrapp {
        flex-direction: column;
        border-bottom: none;
        padding-bottom: 0;
        padding-top: 0;
    }

    // work //

    .work {
        grid-template-columns: repeat(2,1fr);
        grid-gap: 5px;
        &_item {
            min-height: 50vh;
            &--third {
                display: none;
            }
        }
    }

    // blog //

    .items--blog {
        width: 100%;
        margin-bottom: 140px;

        .items__item--blog {
            width: 100%;   
        
            &:not(:first-child) {                     
               margin-top: 180px;
            }
        }
    }

   

    // feature //
 
    .feature {
        overflow: hidden;

        &__iphone {
            bottom: -5%;
        }
    }

    // facts //

    .facts__wrapper {
        flex-direction: column;
        flex-wrap: nowrap;
    }


    // about and team//

    .items {
        flex-direction: column;

        &__item {
            width: 60%;

            &:last-child {
                margin: 0;
                margin: 15px auto;
            }

            margin: 15px auto;
        }
    }

    .team {
        .items {
            &__item {
                width: calc(100% - 15px);
                margin-right: 15px;
            }

            .gradient--row {
                opacity: 1;
                background: transparent;
                transition: opacity 0.3s ease-in-out;
                align-items: flex-end;

                &:hover {
                    background: $gradient;
                }
            }
        }
    }

    .blog {
        .captions__wrapper--blog {        
            visibility: visible;
        }
        .captions {
            display: none;
        }
    }

    .team {
        .captions {
            display: none;

            &__inblock {
                display: block;
            }
        }
    }

    // job //

    .job {
        
        &__img {
            width: 100%;
            height: 200px;

            img {
                position: relative;
                left: 0;
                transform: none;
                margin: 0 auto;
            }
        }
        
        &__content {
            flex-direction: column;
        }

        .popups {
            margin-top: 15px;
            width: 100%;
        }
    }

    // footer //

    .footer {
        &_item {
            &:nth-child(2) {
                display: none;
            }
            &:first-child {
                flex: 1;
                padding-right: 0;
                text-align: center;
            }
        }
    }
}
