// Large devices (desktops, 992px and up)
@media (max-width: 992px) { 
    // header //
    .header {
        &__nav {
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 5;  
            width: 100%;
            height: 75%;   
            padding-top: 80px; 
            padding-bottom: 10px;
            background: linear-gradient(to top, rgba(255,50,50, 1) 80%, rgba(252,227,138,0) 100%);
        }

        &__list {
            flex-direction: column;
            align-content: flex-end;
        }

        &__phone {
            display: block;
        }

        &__subtitle {
            font-size: 60px;
        }
    }

    //section quote and testimonial//

    .quote {
        &__author {
            margin-left: 80px;
        }

        &__text {
            margin-left: 20px;
        }
    }

    // instruments //
    .work {
        grid-template-columns: repeat(3,1fr);
        &_item {
            &--third {
                display: none;
            }
        }
    
    }
    .response_wrapp {
        flex-direction: column;
        margin-bottom: 0;
    }
    .response_clients {
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 30px; 
        &:first-child {
            margin-right: 0;
        }
        &_content {
            text-align: center;
            margin-left: 0;
        }
        &_prof {
            &:after {
                margin: 20px auto;
            }
        }
    }
}
