.facts {
    background-color: $special-color;
    width: 100%;
    
    &__wrapper{
      max-width: 1200px;
      width: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      padding: 15px 0 30px 0 ;
      flex: 0 0 20%;
      flex-wrap: wrap;
      flex-grow: 1;
    }
  }
  
  .facts__fact {
    font-family: $theme-font;
  }
  
  .fact__counter {
    font-weight: 700;
    text-align: center;
    width: 100%;
    font-size: 72px;
    color: $common-text-color;
  }
  .fact__description{
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    color: $common-text-color;
  }
