.facts { 
    background-color: $special-color;
    height: 270px;
  }
  
  .facts__fact {
    display:inline-flex;
    font-family: $common-font;
  }
  
  .fact__counter {
    display:inline-flex;
    justify-content: space-around;
    align-items: center;
    width: 240px;
    font-size: 72px;
    color: $common-text-color;
  }
  .fact__description{
    display: inline-flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 14px;
    color: $common-text-color;
  }
  
