.feature {
    background-image: url(app/img/raster/raster_images/background.png);
}

.feature__special {
    font-family: $special-font;
    color: $black-text-color;
    text-align: center;
}

.feature__theme {
    font-family: $theme-font;
    color: $black-text-color;
    text-align: center;
    text-transform: uppercase;
}

.feature__line {
    @extend %redline;
}

.feature_ipad {
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.ipad__screen {
    position: absolute;
    z-index: 2;
    left: 33%;
}

.feature__iphone {
    position: absolute;
    z-index: 2;
    left: 60%;
    bottom: 5%
}
