<<<<<<< HEAD
.logo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px 0 15px 0;
    background-color: #f8f8f8;
}

.logos__logo { 
    display: flex;
    justify-content: space-between;
}
=======
>>>>>>> b7312be7f782282c1ad99f03aeb70f8122e5ade4
