.logos {
    width: 100%;
    background-color: #f8f8f8;
    

    &__img {
    height: 100px;
    }
}

.logo {
    width: 100%;
    display: block;
    justify-content: space-between;
    padding: 0;
    position: relative;
    overflow: hidden;   
}

.logos__logo { 
    display: inline-flex;
    justify-content: center;

    &:hover {

        img {
            animation: 1s shake;
        }
    }
}

.container--little {
    padding: 50px 0;
}

@keyframes shake {
    0%, 100% {}
    25% {transform: rotate(-30deg);}
    75% {transform: rotate(30deg);}
}