.items {
    &__item {
        &--bigheight{
            height: 450px;
            text-decoration: none;
        }

        .gradient {
            &--row {
                flex-direction: row;
            }
        }                
    }  

    .items__item--team {
        &:nth-child(1) {
            background: url(../img/raster/raster_images/team_1.jpg);
            background-position: 20% center;
        }
        &:nth-child(2) {
            background: url(../img/raster/raster_images/team_2.jpg);
            background-position: center bottom;
        }
        &:nth-child(3) {
            background: url(../img/raster/raster_images/team_3.jpg);
            background-position: center 10%;
        } 
    }
    
    &__link {
        display: inline-block;
        text-align: center;
        width: 55px;
        height: 55px;
        text-decoration: none;
        background-color: $icon-background;
        transition: background-color 1s ease;

        &:hover {
            background-color: $icon-color;

            .svg-icon-red--hover {
                fill: #ffffff;
            }
        }
    }
}

.captions {
    display: flex;
    justify-content: space-between;
    
    &__wrapper {
        width: 31%;
    }        

    &__name, &__job {
        width: 100%;
        text-align: center;
        margin: 0;
        font-size: 16px;
    }

    &__name {
        color: black;
        font-family: $theme-font;
        text-transform: uppercase;
        margin-top: 30px;
    }

    &__job {
        font-family: $common-font;
        font-weight: 300;
        font-style: italic;
        margin: 15px 0;
    }
}
