.works {
    text-align: center;
    padding: 50px 0 80px 0;
}
.work {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    &_item {
        min-height: 40vh;
        width: 100%;
        height: auto;
        &_overlay {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            box-sizing: border-box;
            min-height: 40vh;
            text-align: center;
            font-weight: 900;
            font-size: 30px;
            color: #fff;
            font-family: $special-font;
            font-size: 30px;
                &:hover{
                  opacity: 1;
                }
            }    
        &_title {
            font-family: $theme-font;
            font-size: 14px;
            text-transform: uppercase;
            padding-top: 20px;
                &--it {
                    font-family: $common-font;
                    font-style: italic;
                    font-size: 15px;
                    padding-top: 20px;
                }
            }    
        

        &--first{
            background: url(../img/raster/raster_images/1_work.jpg);
            background-position: bottom;
        }
        &--second {
            background: url(../img/raster/raster_images/2_work.jpg);
            background-position: bottom left;
        }
        &--third {
            background: url(../img/raster/raster_images/3_work.jpg);
            background-position: center;
        }
        &--fourth {
            background: url(../img/raster/raster_images/4_work.jpg);
            background-position: center;
        }
        &--fifth {
            background: url(../img/raster/raster_images/5_work.jpg);
            background-position: center;
        }
        &--sixth {
            background: url(../img/raster/raster_images/6_work.jpg);
            background-position: center;
        }
        &--seventh {
            background: url(../img/raster/raster_images/7_work.jpg);
            background-position: center;
        }
  
        &:nth-child(3) {
            grid-column: 3;
            grid-row-end: span 2;
  }
    }
}
