<h2 class="section-title">What we do</h2>
<div class="section-subtitle">story about us</div>

<p class="section__paragraph">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
    nisi ut aliquip ex ea commodo consequat. 
</p>

<div class="items">
    <a href="#" class="items__item items__item--about">
        <div class="gradient gradient--shadow gradient--flex">
            <svg class="svg-icon-white">
                <use xlink:href="/img/svg/sprite.svg#users"></use>
            </svg>
            <span class="items__title">super team</span>
        </div>
    </a> 

    <a href="#" class="items__item items__item--about">
        <div class="gradient gradient--shadow gradient--flex">
            <svg class="svg-icon-white">
                <use xlink:href="/img/svg/sprite.svg#users"></use>
            </svg>
            <span class="items__title">super team</span>
        </div>
    </a> 

    <a href="#" class="items__item items__item--about">
        <div class="gradient gradient--shadow gradient--flex"> 
            <svg class="svg-icon-white">
                <use xlink:href="/img/svg/sprite.svg#users"></use>
            </svg>
            <span class="items__title">super team</span>
        </div>
    </a> 
</div>