<h2 class="about__title">What we do</h2>
<h3 class="about__subtitle">story about us</h3>

<p class="about__paragraph">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
    nisi ut aliquip ex ea commodo consequat. 
</p>
<div class="about__items">
    <a href="#" class="about__item about__item--first">
        <div class="about__item--overlay">
            <svg class="svg-icon-white">
                <use xlink:href="/img/svg/sprite.svg#users"></use>
            </svg>
            <span class="about__item--title">super team</span>
        </div>
    </a> 

    <a href="#" class="about__item about__item--second">
        <div class="about__item--overlay">
            <svg class="svg-icon-white">
                <use xlink:href="/img/svg/sprite.svg#users"></use>
            </svg>
            <span class="about__item--title">super team</span>
        </div>
    </a> 

    <a href="#" class="about__item about__item--third">
        <div class="about__item--overlay">
            <svg class="svg-icon-white">
                <use xlink:href="/img/svg/sprite.svg#users"></use>
            </svg>
            <span class="about__item--title">super team</span>
        </div>
    </a> 
</div>