<h2 class="section-title">Our stories</h2>
<div class="section-subtitle">Latest blog</div>

<p class="section__paragraph">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
    nisi ut aliquip ex ea commodo consequat. 
</p>
<div class="items items--blog">
    <a href="" class="items__item items__item--blog">
        <div class="items__date">
            <div class="items__day">15</div>
            <div class="items__month">Jan</div>
        </div>
        <div class="captions__wrapper captions__wrapper--blog">
                <h4 class="captions__name captions__name--left">lorem ipsum dolor sit amet</h4>
                <h5 class="captions__job captions__job--left">
                    Consectetur adipiscing elit, sed do eiusmod tempor 
                    incididunt ut labore et dolore magna aliqua.
                </h5>
    
                <svg class="svg-icon-blue svg-icon-blue--little">
                    <use xlink:href="/img/svg/sprite.svg#eye"></use>
                </svg>
                <span class="captions__number js-captions__numberview">542</span>
                <svg class="svg-icon-blue svg-icon-blue--little">
                    <use xlink:href="/img/svg/sprite.svg#bubble"></use>
                </svg>
                <span class="captions__number js-captions__numbershare">17</span>
        </div>
    </a> 

    <a href="" class="items__item items__item--blog">
        <div class="items__date">
            <div class="items__day">14</div>
            <div class="items__month">Jan</div>
        </div>
        <div class="captions__wrapper captions__wrapper--blog">
                <h4 class="captions__name captions__name--left">sed do eiusmod tempor</h4>
                <h5 class="captions__job captions__job--left">
                    Adipiscing elit, sed do eiusmod tempor 
                    incididunt ut labore et dolore magna aliqua.
                </h5>
    
                <svg class="svg-icon-blue svg-icon-blue--little">
                    <use xlink:href="/img/svg/sprite.svg#eye"></use>
                </svg>
                <span class="captions__number js-captions__numberview">992</span>
                <svg class="svg-icon-blue svg-icon-blue--little">
                    <use xlink:href="/img/svg/sprite.svg#bubble"></use>
                </svg>
                <span class="captions__number js-captions__numbershare">42</span>
        </div>
    </a> 

    <a href="" class="items__item items__item--blog">
            <div class="items__date">
                <div class="items__day">13</div>
                <div class="items__month">Jan</div>
            </div>
            <div class="captions__wrapper captions__wrapper--blog">
                    <h4 class="captions__name captions__name--left">incididunt ut labore et dolore</h4>
                    <h5 class="captions__job captions__job--left">
                        Elit, sed do eiusmod tempor incididunt 
                        ut labore et dolore magna aliqua.
                    </h5>
        
                    <svg class="svg-icon-blue svg-icon-blue--little">
                        <use xlink:href="/img/svg/sprite.svg#eye"></use>
                    </svg>
                    <span class="captions__number js-captions__numberview">1560</span>
                    <svg class="svg-icon-blue svg-icon-blue--little">
                        <use xlink:href="/img/svg/sprite.svg#bubble"></use>
                    </svg>
                    <span class="captions__number js-captions__numbershare">72</span>
            </div>
    </a> 
</div>
<div class="captions">
    <div class="captions__wrapper captions__wrapper--left">
            <h4 class="captions__name captions__name--left">lorem ipsum dolor sit amet</h4>
            <h5 class="captions__job captions__job--left">
                Consectetur adipiscing elit, sed do eiusmod tempor 
                incididunt ut labore et dolore magna aliqua.
            </h5>

            <svg class="svg-icon-blue svg-icon-blue--little">
                <use xlink:href="/img/svg/sprite.svg#eye"></use>
            </svg>
            <span class="captions__number js-captions__numberview">542</span>
            <svg class="svg-icon-blue svg-icon-blue--little">
                <use xlink:href="/img/svg/sprite.svg#bubble"></use>
            </svg>
            <span class="captions__number js-captions__numbershare">17</span>
    </div>

    <div class="captions__wrapper captions__wrapper--left">
            <h4 class="captions__name captions__name--left">sed do eiusmod tempor</h4>
            <h5 class="captions__job captions__job--left">
                Adipiscing elit, sed do eiusmod tempor 
                incididunt ut labore et dolore magna aliqua.
            </h5>

            <svg class="svg-icon-blue svg-icon-blue--little">
                <use xlink:href="/img/svg/sprite.svg#eye"></use>
            </svg>
            <span class="captions__number js-captions__numberview">992</span>
            <svg class="svg-icon-blue svg-icon-blue--little">
                <use xlink:href="/img/svg/sprite.svg#bubble"></use>
            </svg>
            <span class="captions__number js-captions__numbershare">42</span>
    </div>

    <div class="captions__wrapper captions__wrapper--left">
            <h4 class="captions__name captions__name--left">incididunt ut labore et dolore</h4>
            <h5 class="captions__job captions__job--left">
                Elit, sed do eiusmod tempor incididunt 
                ut labore et dolore magna aliqua.
            </h5>

            <svg class="svg-icon-blue svg-icon-blue--little">
                <use xlink:href="/img/svg/sprite.svg#eye"></use>
            </svg>
            <span class="captions__number js-captions__numberview">1560</span>
            <svg class="svg-icon-blue svg-icon-blue--little">
                <use xlink:href="/img/svg/sprite.svg#bubble"></use>
            </svg>
            <span class="captions__number js-captions__numbershare">72</span>
    </div>
</div>
