<div class="facts__wrapper">
    <div class="facts__fact">
        <div class="fact__counter" data-count="42">
            0
        </div>
        <div class="fact__description"> 
            web design projects 
        </div>
    </div>

    <div class="facts__fact"> 
        <div class="fact__counter" data-count="123">
                0
        </div>
        <div class="fact__description"> 
            happy client
        </div>
    </div>

    <div class="facts__fact">
        <div class="fact__counter" data-count="15">
                0
        </div> 
        <div class="fact__description"> 
            award winner
        </div>   
    </div>

    <div class="facts__fact">
        <div class="fact__counter" data-count="99">
            0
        </div>

        <div class="fact__description"> 
            cup of coffe
        </div>
    </div>

    <div class="facts__fact"> 
        <div class="fact__counter" data-count="24">
        0
        </div>

        <div class="fact__description"> 
            members
        </div>
    </div>
</div>