<div class="facts">

    <div class="facts__fact">
        <div class="fact__counter" data-count="42">
            0
        </div>
        <span class="fact__description"> 
            web design projects 
        </span>
    </div>

    <div class="facts__fact"> 
        <div class="fact__counter" data-count="123">
                0
        </div>
        <span class="fact__description"> 
            happy client
        </span>
    </div>

    <div class="facts__fact">
        <div class="fact__counter" data-count="15">
                0
        </div> 
        <span class="fact__description"> 
            award winner
        </span>   
    </div>

    <div class="facts__fact">
        <div class="fact__counter" data-count="99">
            0
        </div>

        <span class="fact__description"> 
            cup of coffe
        </span>
    </div>

    <div class="facts__fact"> 
        <div class="fact__counter" data-count="24">
        0
        </div>

        <span class="fact__description"> 
            members
        </span>
    </div>

</div>