<span class="feature__special"> 
    For all devices <br>
</span>

<span class="feature__theme">
    unique design
</span>

<div class="feature__line">

</div>

<div class="feature_ipad">
    <img src="app/img/raster/raster_images/ipad.svg" onerror="this.onerror=null; this.src='app/img/raster/raster_images/ipad.svg'">
        <div class="ipad__screen">
            <iframe src="feature.html" height="505" width="431" frameborder="0"></iframe>
        </div>
</div>

<div class="feature__iphone">
        <img src="app/img/raster/raster_images/iphone.svg" onerror="this.onerror=null; this.src='app/img/raster/raster_images/iphone.svg'">
</div>