<div class="light light--center">
    <h3 class="section-title section-title--padding">For all devices</h3>
    <h2 class="section-subtitle">unique design</h2>

    <div class="feature__ipad">
        <img src="../img/raster/raster_images/ipad.png" alt="ipad">
    </div>

    <div class="feature__iphone">
        <img src="../img/raster/raster_images/iphone.png" alt="iphone">
        <div class="feature__click circle_img" onclick="onIphone();">
        </div>
        <div class="feature__display">
        </div>
    </div>
</div>
    