
<div class="container footer_container">
    <div class="footer_item">
        <h2 class="footer_logo">MoGo</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <div class="footer_followers"><span class="footer_followers_count">15K</span> followers</div>    
        <div class="footer_social">
            <span class="italic">Follow Us:</span>
            <a class="footer_social_link" href="#">
                <svg class="svg-icon-blue footer_icon">
                    <use xlink:href="/img/svg/sprite.svg#facebook"></use>
                </svg>    
            </a>
            <a class="footer_social_link" href="#">
                <svg class="svg-icon-blue footer_icon">
                    <use xlink:href="/img/svg/sprite.svg#twitter"></use>
                </svg>    
            </a>
            <a class="footer_social_link" href="#">
                <svg class="svg-icon-blue footer_icon">
                    <use xlink:href="/img/svg/sprite.svg#instagram"></use>
                </svg>    
            </a>
            <a class="footer_social_link" href="#">
                <svg class="svg-icon-blue footer_icon">
                    <use xlink:href="/img/svg/sprite.svg#pinterest"></use>
                </svg>    
            </a>
            <a class="footer_social_link" href="#">
                <svg class="svg-icon-blue footer_icon">
                    <use xlink:href="/img/svg/sprite.svg#google-plus"></use>
                </svg>    
            </a>
            <a class="footer_social_link" href="#">
                <svg class="svg-icon-blue footer_icon">
                    <use xlink:href="/img/svg/sprite.svg#yuotube"></use>
                </svg>    
            </a>
            <a class="footer_social_link" href="#">
                <svg class="svg-icon-blue footer_icon">
                    <use xlink:href="/img/svg/sprite.svg#dribbble"></use>
                </svg>    
            </a>
            <a class="footer_social_link" href="#">
                <svg class="svg-icon-blue footer_icon">
                    <use xlink:href="/img/svg/sprite.svg#tumblr"></use>
                </svg>    
            </a>
        </div>
        <form action="#">
            <div class="footer_sub">
                <input class="footer_sub_inp italic" type="email" placeholder="Your Email...">
                <button class="footer_sub_btn" type="submit">Subscribe</button>
            </div>
        </form>
    </div>
    <div class="footer_item">
        <h3 class="footer_title">Blogs</h3>
        <div class="footer_blog">
            <div class="footer_blog_img">
                <img src="img/raster/raster_images/footer_blog_img1.jpg" alt="blog_img1" >
            </div>
            <div class="footer_blog_description">
                <a class="footer_blog_title" href="#">Lorem ipsum dolor sit amet,<br> consectetur adipiscing</a>
                <span class="italic footer_date">Jan 9, 2016</span>
            </div>
        </div>
        <div class="footer_blog">
            <div class="footer_blog_img">
                <img src="img/raster/raster_images/footer_blog_img2.jpg" alt="blog_img1" >
            </div>
            <div class="footer_blog_description">
                <a class="footer_blog_title" href="#">Lorem ipsum dolor sit amet,<br> consectetur adipiscing</a>
                <span class="italic footer_date">Jan 9, 2016</span>
            </div>
        </div> 
        <div class="footer_blog">
            <div class="footer_blog_img">
                <img src="img/raster/raster_images/footer_blog_img3.jpg" alt="blog_img1" >
            </div>
            <div class="footer_blog_description">                
                <a class="footer_blog_title" href="#">Lorem ipsum dolor sit amet,<br> consectetur adipiscing</a>
                <span class="italic footer_date">Jan 9, 2016</span>
            </div>
        </div>    
    </div>
    
    <div class="footer_item">
        <h3 class="footer_title">Instagram</h3>
        <div class="footer_instagram">
            <img class="animated zoom" src="img/raster/raster_images/footer_inst_img1.jpg" alt="instagram img 1">
            <img class="animated zoom" src="img/raster/raster_images/footer_inst_img2.jpg" alt="instagram img 1">
            <img class="animated zoom" src="img/raster/raster_images/footer_inst_img3.jpg" alt="instagram img 1">
            <img class="animated zoom" src="img/raster/raster_images/footer_inst_img4.jpg" alt="instagram img 1">
            <img class="animated zoom" src="img/raster/raster_images/footer_inst_img5.jpg" alt="instagram img 1">
            <img class="animated zoom" src="img/raster/raster_images/footer_inst_img6.jpg" alt="instagram img 1">
            <img class="animated zoom" src="img/raster/raster_images/footer_inst_img7.jpg" alt="instagram img 1">
            <img class="animated zoom" src="img/raster/raster_images/footer_inst_img8.jpg" alt="instagram img 1">
            <img class="animated zoom"src="img/raster/raster_images/footer_inst_img9.jpg" alt="instagram img 1">
        </div>
        <a href="#" class="italic footer_link">View more photos</a>
    </div>
</div>
<div class="footer_copyright">&copy;2018 MoGo Template <a class="footer_link footer_link--red" href="https://github.com/MateAcademy-FE-July/template-mogo-dis-team" target="blank">DIS Team</a></div>
