<div class="header__gradient">
    <div class="container container--100vh">
        <div class="header__up">
            <a href="#" class="header__logo">MoGo</a>
            <nav class="header__nav">
                <ul class="header__list">
                    <li class="header__item"><a href="#">about</a></li>
                    <li class="header__item"><a href="#">service</a></li>
                    <li class="header__item"><a href="#">work</a></li>
                    <li class="header__item"><a href="#">blog</a></li>
                    <li class="header__item"><a href="#">contact</a></li>    
                    <li class="header__item">
                        <a href="#" class="header__purchase">
                            <svg class="svg-icon-white header__svg svg-purchase">
                                <use xlink:href="/img/svg/sprite.svg#cart"></use>
                            </svg>
                        </a>
                    </li>   
                    <li class="header__item">
                        <a href="#" class="header__search">
                            <svg class="svg-icon-white header__svg svg-search">
                                <use xlink:href="/img/svg/sprite.svg#search"></use>
                            </svg>
                        </a>         
                    </li>          
                </ul>                
            </nav>
        </div>

        <h1 class="header__title">Creative Template</h1>
        <h2 class="header__subtitle">Welcome to MoGo</h2>
        <button class="header__btn" type="submit">learn more</button>
        <div class="header__slider">
            <a class="slider__item"><span class="slider__number">01</span> intro</a>
            <a class="slider__item"><span class="slider__number">02</span> work</a>
            <a class="slider__item"><span class="slider__number">03</span> about</a>
            <a class="slider__item"><span class="slider__number">04</span> contacts</a>
        </div>
    </div>
</div>