
    <h3 class="section-title">We work width</h3>
    <h2 class="section-subtitle">Amazing services</h2>
    <div class="instruments_wrapp">
        <div class="instruments_item">
            <svg class="instruments_icon svg-icon-blue">
                <use xlink:href="/img/svg/sprite.svg#alarm"></use>
            </svg>
            <div class="instruments_item_content">
                <h4 class="instruments_item_title">Photography</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
            </div>    
        </div>
        <div class="instruments_item">
            <svg class="instruments_icon svg-icon-blue">
                <use xlink:href="/img/svg/sprite.svg#stats-dots"></use>
            </svg>
            <div class="instruments_item_content">
                <h4 class="instruments_item_title">Web design</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
            </div>    
        </div>
        <div class="instruments_item">
            <svg class="instruments_icon svg-icon-blue">
                <use xlink:href="/img/svg/sprite.svg#display"></use>
            </svg>
            <div class="instruments_item_content">
                <h4 class="instruments_item_title">Creativity</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
            </div>    
        </div>
    </div>
    <div class="instruments_wrapp">
        <div class="instruments_item">
            <svg class="instruments_icon svg-icon-blue">
                <use xlink:href="/img/svg/sprite.svg#newspaper"></use>
            </svg>
            <div class="instruments_item_content">
                <h4 class="instruments_item_title">Seo</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
            </div>    
        </div>
        <div class="instruments_item">
            <svg class="instruments_icon svg-icon-blue">
                <use xlink:href="/img/svg/sprite.svg#home"></use>
            </svg>
            <div class="instruments_item_content">
                <h4 class="instruments_item_title">Html/css</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
            </div>    
        </div>
        <div class="instruments_item">
            <svg class="instruments_icon svg-icon-blue">
                <use xlink:href="/img/svg/sprite.svg#enlarge"></use>
            </svg>
            <div class="instruments_item_content">
                <h4 class="instruments_item_title">Digital</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
            </div>    
        </div>
    </div>