<div class="container container--little">
  <div class="logo">

        <div class="logos__logo">
            <img class="logos__img" alt="logo" src="../img/raster/raster_images/logo_01.png">
        </div>

        <div class="logos__logo">
            <img class="logos__img" alt="logo" src="../img/raster/raster_images/logo_02.png">
        </div>

        <div class="logos__logo">
            <img class="logos__img" alt="logo" src="../img/raster/raster_images/logo_03.png">
        </div>

        <div class="logos__logo">
            <img class="logos__img" alt="logo" src="../img/raster/raster_images/logo_04.png">
        </div>

        <div class="logos__logo">
            <img class="logos__img" alt="logo" src="../img/raster/raster_images/logo_05.png">
        </div>

        <div class="logos__logo">
            <img class="logos__img" alt="logo" src="../img/raster/raster_images/logo_06.png"
        </div>

    </div>
</div>
