<div class="logo">

    <div class="logos__logo">
        <img  src="../img/raster/raster_images/logo_01.png" width="127" height="127">
    </div>

    <div class="logos__logo">
        <img  src="../img/raster/raster_images/logo_02.png" width="127" height="127">
    </div>

    <div class="logos__logo">
        <img  src="../img/raster/raster_images/logo_03.png" width="127" height="127">
    </div>

    <div class="logos__logo">
        <img  src="../img/raster/raster_images/logo_04.png" width="127" height="127">
    </div>

    <div class="logos__logo">
        <img  src="../img/raster/raster_images/logo_05.png" width="127" height="127">
    </div>

    <div class="logos__logo">
        <img  src="../img/raster/raster_images/logo_06.png" width="127" height="12">
    </div>

</div>