<div class="container container--flex">
    <svg class="svg-icon-grey svg-icon-grey--left svg-icon-grey--bluehover">
            <use xlink:href="/img/svg/sprite.svg#arrow"></use>
    </svg>

    <svg class="svg-icon-blue svg-icon-blue--border">
            <use xlink:href="/img/svg/sprite.svg#bubbles"></use>
    </svg>
    <div class="quote__quote">
        <blockquote class="quote__text">
            <p>
                “Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna 
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”
            </p>
        </blockquote>
        <cite class="quote__author">Jon Doe</cite>
    </div>
    <svg class="svg-icon-grey svg-icon-grey--right svg-icon-grey--bluehover">
            <use xlink:href="/img/svg/sprite.svg#arrow"></use>
    </svg>
</div>
