<div class="response_overlay">
    <div class="container response_container">
        <h3 class="section-title">Happy Clients</h3>
        <h2 class="section-subtitle">What people say</h2>
        <div class="response_wrapp">
            <div class="response_clients">
                <div class="response_clients_photo">
                    <img class="circle_img response_img" src="img/raster/raster_images/response_matthew.jpg" alt="Matthew">
                </div>   
                <div class="response_clients_content">
                    <h4 class="response_clients_name">Matthew Dix</h4>
                    <span class="response_clients_prof">Graphic designer</span>
                    <blockquote class="response_blockquote">Ipsum dolor Asit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</blockquote>
                </div>         
            </div>
            <div class="response_clients">
                <div class="response_clients_photo">
                    <img class="circle_img response_img" src="img/raster/raster_images/response_nick.jpg" alt="Matthew">
                </div>   
                <div class="response_clients_content">
                    <h4 class="response_clients_name">Nick Karvounis</h4>
                    <span class="response_clients_prof">Graphic designer</span>
                    <blockquote class="response_blockquote">Ipsum dolor Asit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</blockquote>
                </div>         
            </div>
        </div>
        <div class="response_wrapp">
            <div class="response_clients">
                <div class="response_clients_photo">
                    <img class="circle_img response_img" src="img/raster/raster_images/response_ja.jpg" alt="Matthew">
                </div>   
                <div class="response_clients_content">
                    <h4 class="response_clients_name">Jaelynn Castillo</h4>
                    <span class="response_clients_prof">Graphic designer</span>
                    <blockquote class="response_blockquote">Ipsum dolor Asit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</blockquote>
                </div>         
            </div>
            <div class="response_clients">
                <div class="response_clients_photo">
                    <img class="circle_img response_img" src="img/raster/raster_images/response_mike.jpg" alt="Matthew">
                </div>   
                <div class="response_clients_content">
                    <h4 class="response_clients_name">Mike Petrucci</h4>
                    <span class="response_clients_prof">Graphic designer</span>
                    <blockquote class="response_blockquote">Ipsum dolor Asit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</blockquote>
                </div>         
            </div>
        </div>
    </div>
</div>