<h2 class="team__title">Who we are</h2>
<h3 class="team__subtitle">meet our team</h3>

<p class="team__paragraph">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
    nisi ut aliquip ex ea commodo consequat. 
</p>
<div class="team__items">
    <div class="team__item team__item--first">
        <div class="team__item--overlay">
            <a href="#" class="team__item--facebook team__link">
                <svg class="team__item--svg">
                    <use xlink:href="/img/svg/sprite.svg#facebook"></use>
                </svg>
            </a>
            <a href="#" class="team__item--twitter team__link">
                <svg class="team__item--svg">
                    <use xlink:href="/img/svg/sprite.svg#twitter"></use>
                </svg>
            </a>
            <a href="#" class="team__item--pinterest team__link">
                <svg class="team__item--svg">
                    <use xlink:href="/img/svg/sprite.svg#pinterest"></use>
                </svg>
            </a>
            <a href="#" class="team__item--instagram team__link">
                <svg class="team__item--svg">
                    <use xlink:href="/img/svg/sprite.svg#instagram"></use>
                </svg>
            </a>
        </div>
    </div> 

    <div class="team__item team__item--second">
        <div class="team__item--overlay">
            <a href="#" class="team__item--facebook team__link">
                <svg class="team__item--svg">
                    <use xlink:href="/img/svg/sprite.svg#facebook"></use>
                </svg>
            </a>
            <a href="#" class="team__item--twitter team__link">
                <svg class="team__item--svg">
                    <use xlink:href="/img/svg/sprite.svg#twitter"></use>
                </svg>
            </a>
            <a href="#" class="team__item--pinterest team__link">
                <svg class="team__item--svg">
                    <use xlink:href="/img/svg/sprite.svg#pinterest"></use>
                </svg>
            </a>
            <a href="#" class="team__item--instagram team__link">
                <svg class="team__item--svg">
                    <use xlink:href="/img/svg/sprite.svg#instagram"></use>
                </svg>
            </a>
        </div>
    </div> 

    <div class="team__item team__item--third">
        <div class="team__item--overlay">
            <a href="#" class="team__item--facebook team__link">
                <svg class="team__item--svg">
                    <use xlink:href="/img/svg/sprite.svg#facebook"></use>
                </svg>
            </a>
            <a href="#" class="team__item--twitter team__link">
                <svg class="team__item--svg">
                    <use xlink:href="/img/svg/sprite.svg#twitter"></use>
                </svg>
            </a>
            <a href="#" class="team__item--pinterest team__link">
                <svg class="team__item--svg">
                    <use xlink:href="/img/svg/sprite.svg#pinterest"></use>
                </svg>
            </a>
            <a href="#" class="team__item--instagram team__link">
                <svg class="team__item--svg">
                    <use xlink:href="/img/svg/sprite.svg#instagram"></use>
                </svg>
            </a>
        </div>
    </div> 
</div>
<div class="team__captions">
    <div class="team__captions--wrapper">
            <h4 class="team__captions--name">Matthew Dix</h4>
            <h5 class="team__captions--job">Graphic Design</h5>
    </div>

    <div class="team__captions--wrapper">
            <h4 class="team__captions--name">Matthew Dix</h4>
            <h5 class="team__captions--job">Graphic Design</h5>
    </div>

    <div class="team__captions--wrapper">
            <h4 class="team__captions--name">Matthew Dix</h4>
            <h5 class="team__captions--job">Graphic Design</h5>
    </div>
</div>
