<div class="js-slider-testimonial">
    <div class="quote__item"> 
        <img src="../img/raster/raster_images/testimonial_1.jpg"
        alt="Joshua Earle" class="quote__img circle_img">

        <div class="quote__quote">
            <blockquote class="quote__text">
                <p>
                    “Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna 
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”
                </p>
            </blockquote>
            <cite class="quote__author">Jon Doe</cite>
        </div>
    </div>   
    <div class="quote__item"> 
            <img src="../img/raster/raster_images/testimonial_1.jpg"
            alt="Joshua Earle" class="quote__img circle_img">

            <div class="quote__quote">
                <blockquote class="quote__text">
                    <p>
                        “Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                        sed do eiusmod tempor incididunt ut labore et dolore magna 
                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”
                    </p>
                </blockquote>
                <cite class="quote__author">Jon Doe</cite>
            </div>
        </div>  
</div>

    