<svg class="svg-icon-grey svg-icon-grey--left svg-icon-grey--grayhover">
        <use xlink:href="/img/svg/sprite.svg#arrow"></use>
</svg>
<img src="../img/raster/raster_images/testimonial_1.jpg" alt="Joshua Earle" class="quote__img circle_img">

<div class="quote__quote">
    <blockquote class="quote__text">
        <p>
            “Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna 
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”
        </p>
    </blockquote>
    <cite class="quote__author">Joshua Earle</cite>
</div>
<svg class="svg-icon-grey svg-icon-grey--right svg-icon-grey--grayhover">
        <use xlink:href="/img/svg/sprite.svg#arrow"></use>
</svg>
    