<div class="work_item work_item--first">
    <div class="work_item_overlay">Creatively design</div>
</div>
<div class="work_item work_item--second">
    <div class="work_item_overlay">Creatively design</div>
</div>
<div class="work_item work_item--third">
    <div class="work_item_overlay">Creatively design</div>
</div>
<div class="work_item work_item--fourth">
    <div class="work_item_overlay">Creatively design</div>
</div>
<div class="work_item work_item--fifth">
    <div class="work_item_overlay">Creatively design</div>
</div>
<div class="work_item work_item--sixth">
    <div class="work_item_overlay">Creatively design</div>
</div>
<div class="work_item work_item--seventh">
    <div class="work_item_overlay">Creatively design</div>
</div>