<div class="work_item work_item--first">
    <div class="work_item_overlay">
        <svg class="svg-icon-white">
            <use xlink:href="/img/svg/sprite.svg#image"></use>
        </svg>
        <span>Creatively design</span>
    </div>
</div>
<div class="work_item work_item--second">
    <svg class="svg-icon-white">
        <use xlink:href="/img/svg/sprite.svg#image"></use>
    </svg>
    <span>Creatively design</span>
</div>
<div class="work_item work_item--third">
    <svg class="svg-icon-white">
        <use xlink:href="/img/svg/sprite.svg#image"></use>
    </svg>
    <span>Creatively design</span>
</div>
<div class="work_item work_item--fourth">
    <svg class="svg-icon-white">
        <use xlink:href="/img/svg/sprite.svg#image"></use>
    </svg>
    <span>Creatively design</span>
<div class="work_item work_item--fifth">
    <svg class="svg-icon-white">
        <use xlink:href="/img/svg/sprite.svg#image"></use>
    </svg>
    <span>Creatively design</span>
</div>
<div class="work_item work_item--sixth">
    <svg class="svg-icon-white">
        <use xlink:href="/img/svg/sprite.svg#image"></use>
    </svg>
    <span>Creatively design</span>
</div>
<div class="work_item work_item--seventh">
    <svg class="svg-icon-white">
        <use xlink:href="/img/svg/sprite.svg#image"></use>
    </svg>
    <span>Creatively design</span>
</div>