<!DOCTYPE html>
<html>

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:400,700|Roboto:300i,400" rel="stylesheet">
    <link type="text/css" href="css/main.min.css" rel="stylesheet" media="screen">
    <title>MoGo</title>
  </head>

  <body>
    <header class="header">
      {% include "_header.html" %}
    </header>
    <section class="about">
      {% include "_about.html" %}
    </section>
    <section class="facts">
      {% include "_facts.html" %}
    </section>
    <section class="instruments">
      {% include "_instruments.html" %}
    </section>
    <section class="feature">
      {% include "_feature.html" %}
    </section>
    <section class="job">
      {% include "_job.html" %}
    </section>
    <section class="quote">
      {% include "_quote.html" %}
    </section>
    <section class="team">
      {% include "_team.html" %}
    </section>
    <section class="logos">
      {% include "_logos.html" %}
    </section>
    <section class="work">
      {% include "_work.html" %}
    </section>
    <section class="testimonial">
      {% include "_testimonial.html" %}
    </section>
    <section class="response">
      {% include "_response.html" %}
    </section>
    <section class="blog">
      {% include "_blog.html" %}
    </section>
    <section class="map">
      {% include "_map.html" %}
    </section>
    <footer class="footer">
      {% include "_footer.html" %}
    </footer>    
    
    <script src="js/libs.min.js"></script>
    <script src="js/scripts.min.js"></script>
  </body>
</html>